/* Contenedor de video + eslogan */
.contenedor-video {
  width: 700px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.video-fondo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Eslogan */
.eslogan {
  position: absolute;
  bottom: 80px;
  width: 100%;
  text-align: center;
  font-size: 2em;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

.eslogan span {
  background-color: red;
  padding: 0 10px;
}
